:is(*.button):not(button.button) {
  max-height: 1.125rem;
}

.button {
  appearance: none;
  font-size: 0.875rem;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 0.5rem;
  border: none !important;
  font-family: var(
    --font-noto-sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  transition-property: all;
  transition-timing-function: var(--gdvnps-transition-easing);
  transition-duration: 150ms;
  outline-style: none;
  flex-shrink: 0;
  :disabled {
    opacity: 50%;
  }
  & svg {
    pointer-events: none;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
  }
  &:focus-visible {
    outline: 2px solid var(--gdvnps-primary);
    outline-offset: 2px;
  }

  // style
  &--primary {
    cursor: default;
    background: var(--gdvnps-primary) !important;
    color: var(--gdvnps-primary-foreground);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    &:hover {
      @media (hover: hover) {
        background: color-mix(in oklab, var(--gdvnps-primary) 90%, transparent) !important;
      }
    }
  }

  &--secondary {
    cursor: default;
    background: var(--gdvnps-secondary) !important;
    color: var(--gdvnps-secondary-foreground);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    &:hover {
      @media (hover: hover) {
        background: color-mix(in oklab, var(--gdvnps-secondary) 80%, transparent) !important;
      }
    }
  }

  &--destructive {
    cursor: default;
    background: var(--gdvnps-destructive) !important;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    &:hover {
      @media (hover: hover) {
        background: color-mix(in oklab, var(--gdvnps-destructive) 90%, transparent) !important;
      }
    }
    &:is(.dark *) {
      background: color-mix(in oklab, var(--gdvnps-destructive) 60%, transparent) !important;
    }
  }

  &--outline {
    cursor: default;
    border: 1px solid var(--gdvnps-border);
    background: var(--gdvnps-background) !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    &:hover {
      @media (hover: hover) {
        background: var(--gdvnps-accent);
        color: var(--gdvnps-accent-foreground);
      }
    }
    &:is(.dark *) {
      background: color-mix(in oklab, var(--gdvnps-input) 30%, transparent) !important;
      border-color: var(--gdvnps-input);
      &:hover {
        @media (hover: hover) {
          background: color-mix(in oklab, var(--gdvnps-input) 50%, transparent) !important;
        }
      }
    }
  }

  &--ghost {
    cursor: default;
    &:hover {
      @media (hover: hover) {
        background: var(--gdvnps-accent) !important;
        color: var(--gdvnps-accent-foreground);
        &:hover {
          @media (hover: hover) {
            background: color-mix(in oklab, var(--gdvnps-accent) 50%, transparent) !important;
          }
        }
      }
    }
  }

  &--link {
    color: var(--gdvnps-primary);
    text-decoration: none;
    text-underline-offset: 4px;
    &:hover {
      @media (hover: hover) {
        text-decoration-line: underline;
      }
    }
  }

  // size
  &--size-default {
    height: 2.25rem;
    padding: 0.5rem 1rem;
    &:has(> svg) {
      padding: 0 0.75rem;
    }
  }

  &--size-sm {
    height: 2rem;
    border-radius: 0.375rem;
    gap: 0.375rem;
    padding: 0 0.75rem;
    &:has(> svg) {
      padding: 0 0.625rem;
    }
  }

  &--size-sm {
    height: 2.5rem;
    border-radius: 0.375rem;
    padding: 0 1.5rem;
    &:has(> svg) {
      padding: 0 1rem;
    }
  }

  &--size-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
}
